<h1> Who posts here </h1>
<% if @users.any? %>
	<table class="table">
	<thead>
	<tr>
		<th>Name</th>
		<th>Latest Post</th>
		<th>Picture</th>
	</tr>
	</thead>
	<tbody>
	<% @users.each do |user| %>
		<tr class="click_row">
			<td><%= user.email %></td>
			<% if latest(user) %>
				<td><%= @post.name %></td>
				<td><%= link_to image_tag(@post.picture_url(:thumb)), user %></td>
			<% else %>
				<td>There doesn't seem to be anything here.</td>
				<td></td>
			<% end %>
			</td>
		</tr>
	<% end %>
	</tbody>
	</table>
<% else %>
	<h1>There doesn't seem to be anything here</h1>
<% end %>
